<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MP1_00527177_KyleK/src/averager_problem/averager_problem_mp1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="averager_problem.averager_problem_mp1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MP1_00527177_KyleK"/>
</launchConfiguration>
